<section id="intro" class="main">
    <div class="spotlight">
        <div class="content">
            <header class="major">
                <h2>Sobre</h2>
            </header>
            <p>Salic MinC é o sistema desenvolvido pelo Ministério Da Cultura para atender a Lei Rouanet.</p>
            <p>Esta página tem como responsaiblidade auxiliar quem está em contato com o desenvolvimento da aplicação.</p>
            <!--<ul class="actions">
                <li><a href="generic.html" class="button">Learn More</a></li>
            </ul>-->
        </div>
        <span class="image"><img src="images/salic_512x512bb.jpg" alt=""/></span>
    </div>
</section>